<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiTapLon"
        tools:targetApi="31">
        <activity
            android:name=".BanhangActivity"
            android:exported="false" />
        <activity
            android:name=".thongbao.ThongbaoActivity"
            android:exported="false" />
        <activity
            android:name=".AboutusActivity"
            android:exported="false" />
        <activity
            android:name=".login_logout.QuenTK_MainActivity"
            android:exported="false" />
        <activity
            android:name=".login_logout.DKy_MainActivity"
            android:exported="false" />
        <activity
            android:name=".Main_Account.Account_main"
            android:exported="false" />
        <activity
            android:name=".Danh_Muc.MainActivity_BanHang"
            android:exported="false" />
        <activity
            android:name=".Blog_lamdep.Bloglamdep_main"
            android:exported="false" />
        <activity
            android:name=".login_logout.Login_MainActivity"
            android:exported="false" />
        <activity
            android:name=".Danh_Muc.surum"
            android:exported="false" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>